/*
 * SPDX-FileCopyrightText: 2023 Javier Pérez
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'variables' as v;

div.container {
  text-align: center;
  div {
    padding: 50px 0;
    h1, h2 {
      font-size: 45px;
      color: v.$header-color;
    }
    img {
      margin: 0 auto;
    }
  }
}

a.flatpak {
  background: none;
}

video:focus, a:focus {
    outline: none;
}
