/*
 * SPDX-FileCopyrightText: 2019 Christian Authmann <https://gitlab.com/cauthmann>
 * SPDX-FileCopyrightText: 2020 - 2021 Vechro
 * SPDX-FileCopyrightText: 2023 Javier Pérez
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'variables' as v;

.inline-image {
  display: block;
  text-align: center;
  
  margin: 1em auto;

  a {
    cursor: zoom-in;
  }

  img {
    display: inline;

    max-width: 100%;
    margin: 0;
    
    border-radius: .25em;
  }

  figcaption {
    padding-top: 0.5em;

    font-style: italic;
    
    color: #777777;

    p {
      text-align: center;
    }
  }
}

.ratio169 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  & > iframe, & > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 1em;
  
  margin-top: 3.5em;
  margin-bottom: 1em;
}
