/*
 * SPDX-FileCopyrightText: 2019 Alexander Wulkan
 * SPDX-FileCopyrightText: 2019 Christian Authmann <https://gitlab.com/cauthmann>
 * SPDX-FileCopyrightText: 2021 - 2022 Vechro
 * SPDX-FileCopyrightText: 2021 Forest Anderson <forestkzanderson@gmail.com>
 * SPDX-FileCopyrightText: 2023 Javier Pérez
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'variables' as v;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: v.$gray-200;
  font-family: v.$navbar-font;
  
  width: 100%;
  height: v.$navbar-height;

  .navbar-section {
    display: flex;
    flex-grow: 1;

    height: 100%;
    margin: 0 1em;
    
    :hover {
      background: none;
    }

    a {
      display:flex;
      align-items: center;

      height: 67%;
      margin: .25em .75em;
      
      color: v.$negative-link-color;
      text-decoration: none;
      margin-left: 1em;
      margin-right: 0;
  
      &:focus {
        outline: v.$navbar-focus-color dashed 2px;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    &.navbar-logo {
      justify-content: flex-start;
      align-items: center;
    }

    &.navbar-content {
      justify-content: flex-end;
      align-items: center;
    }

    &.navbar-hamburger {
      display: none;
    }
    
    svg {
      width: 2em;
      height: 60%;
    }
    
    span {
      margin: .40em;
      margin-right: 0;
      white-space: nowrap;
    }
  }
}

@media (max-width: v.$main_width) {
  #navbar-links {
    flex-direction: column;
    align-items: center;
    
    position: absolute;
    
    top: 4em;
    margin: 0;
    height: auto;
    width: 100%;
    padding: 1.25em;
    
    background-color: #0d0d13;

    a {
      font-size: 1.5em;
      padding: inherit;
    }

    &.navbar-content {
      display: none;
    }
  }

  .navbar-hamburger {
    display: flex !important;
    justify-content: flex-end;
    
    color: v.$negative-text-color;
    
    margin: 0;
    margin-right: 0 !important;
    padding: 1.2em;
    padding-bottom: 0;
    
    cursor: pointer;

    svg {
      height: 100%;
    }
  }
}
