<!--
SPDX-FileCopyrightText: 2021 - 2022 Vechro

SPDX-License-Identifier: Apache-2.0
-->

{% macro length_and_date(page) -%}
  <div class="info">
    <span>{{ page.reading_time }} minute read</span>
    {% if page.date %}
      <span class="divider">{{ page.date | date(format="%d %B %Y") }}</span>
    {% endif %}
  </div>
{%- endmacro length_and_date %}

{% macro post_preview(page) -%}
  <section class="post-overview">
    {% if page.extra.banner is defined %}
      {# we want to link to media.discordapp.net for resizing #}
      {% set url = page.extra.banner %}
      {% if url is containing("cdn.discordapp.com") %}
        {% set url = transform::to_discord_media(url=url) %}
      {% endif %}
      <a href="{{ page.permalink }}" class="thumbnail">
        <img src="{{ url }}?width=384&height=216" width="384" height="216" />
      </a>
    {% endif %}
    <div class="overview">
      <h3 class="title">
        <a class="header-link" href="{{ page.permalink }}">
          {{- page.title -}}
        </a>
      </h3>
      <p class="post-content-preview">
        {{- page.content | striptags | truncate(length=255) | safe -}}
      </p>
      {# This is fragile as hell. #}
      {{ gen::length_and_date(page=page) }}
    </div>
  </section>
{%- endmacro post_preview %}

{% macro gallery(image_array) -%}
  <div class="gallery">
    {% for link in image_array %}
      {% set image = resize_image(path='../static/' ~ link, width=400, height=225, op='fill') %}
      <img src="{{ image.url }}" alt="In-game screenshot" width="400" height="225" />
    {% endfor %}
  </div>
{%- endmacro gallery %}

{#
  Refer to https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types/preload for further details.
  Surprisingly, even though gallery and preload_images macros both resize images,
  it seems to be a deterministic operation, as the images end up with the same URLs.
  Call with `type = false` if the image array contains a mix of file formats.
#}
{% macro preload_images(image_array, type) -%}
  {% for link in image_array %}
    {% set image = resize_image(path='../static/' ~ link, width=400, height=225, op='fill') %}
    <link rel="preload" as="image" href="{{ image.url }}" {% if type -%} type="{{ type }}" {%- endif %}>
  {% endfor %}
{%- endmacro gallery %}
  
{#
  Generate RSS enclosure from URL.
  Since the image_url is often external, we can't determine the `length` attribute,
  so hopefully we'll be fine without it.
#}
{% macro enclosure(image_url) -%}
  {% if image_url is matching(".+\..+") %}
    <enclosure url="{{ image_url }}" type="image/{{ image_url | split(pat='.') | last }}" />
  {% else %}
    <enclosure url="{{ image_url }}" />
  {% endif %}
{%- endmacro enclosure %}
