{% import "macros/transform.html" as transform %}

{#
  Sanitize the URL first. Discord has two domains for hosted images:
  - media.discordapp.net, which allows resizing
  - cdn.discordapp.com, which only hosts full resolution
#}

{% if src is containing("cdn.discordapp.com") %}
  {% set src = transform::to_discord_media(url=src) %}
{% endif %}

{#
  TODO: If we ever know the aspect ratio of the image at compile-time,
  we can use .ratio169 to eliminate CLS.
#}
<figure class="inline-image">
  <img src="{{ src }}"
    {% if size %}
      style="width: {{ size }}%;"
    {% endif %}
    loading="lazy"
    {% if alt %}
      alt="{{ alt }}"
    {% endif %}>
  {% if caption %}
    <figcaption>
      <p>{{ caption }}</p>
    </figcaption>
  {% endif %}
</figure>
