{% import "macros/generate.html" as gen %}

{% extends "base.html" %}

{% block extra_head %}
  {# We preload the first 6 images, as they are the only ones visible above the fold on a 16:9 display. #}
  {{
    gen::preload_images(
      image_array = 
      ["0.jpg", "1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"],
      type = "image/jpeg")
  }}
{% endblock extra_head %}

{% block header %}
  <video class="header-video" autoplay="true" playsinline muted loop preload="auto" tabindex="-1">
    <source src="{{ get_url(path='videos/veloren.webm') }}" type="video/webm">
    <source src="{{ get_url(path='videos/veloren.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
{% endblock header %}

{% block content %}
  <section class="post">
    <article>
      <h1>Welcome to Veloren!</h1>
      <p>
        Veloren is an action-adventure role-playing game set in a vast fantasy world.
      </p>
      <ul>

        <li>🏕️ Explore enormous mountains, arid deserts, dense jungles, and many more environments</li>
        <li>⚔️ Discover many different weapons and play styles with dynamic and fast-paced combat</li>
        <li>🏠 Interact with NPCs and craft equipment in towns to help you on your way</li>
        <li>☠️ Encounter menacing bosses and fearsome monsters in dungeons and hideouts</li>
        <li>🌎 Experience a complex and interconnected procedural world, fully simulated as you play</li>
        <li>⛏️ Delve deep beneath the earth to mine ore and gems in sprawling cave networks</li>
        <li>🐎 Tame wild beasts as companions and mounts to aid you in your journey</li>
        <li>🫱🏽‍🫲🏿 Adventure with friends on multiplayer servers, or host your own over LAN</li>
        <li>🛠️ Discover the source code and contribute to the project yourself</li>
      </ul>
      {{ gen::gallery(image_array = [
        "0.jpg",
        "1.jpg",
        "2.jpg",
        "3.jpg",
        "4.jpg",
        "5.jpg",
        "6.jpg",
        "7.jpg",
        "8.jpg",
        "9.png"
        ])
      }}
      <p>What are you waiting for?</p>
    </article>
  </section>
  <section class="post">
    <article>
      <div class="posts">
        <h2>Latest development updates</h2>
        {% set cats = get_taxonomy(kind="tags") %}
        {% set show_posts = 3 %}
        {% for cat in cats.items %}
          {% if cat.name == "devblog" %}
            {% for page in cat.pages %}
              {% if show_posts > 0 and page.date %}
                {% set_global show_posts = show_posts - 1 %}
                {{ gen::post_preview(page=page) }}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
        <section class="read-more-container">
          {# We could link to the auto-generated taxonomy at /tags/devblogs/, but /devblogs/ is a much nicer URL. #}
          <!--
            {# <a class="header-link" href="{{ get_taxonomy_url(kind="tags", name="devblog") }}"> #}
          -->
          <a href="/blog">Read older posts...</a>
        </section>
      </div>
    </article>
  </section>
{% endblock content %}
